/*   
Theme Name: Kunev
Theme URI: https://bottom_Of_sea@bitbucket.org/jaguar-team/kunev.git
Version: 3.0
Tags: clean, development, html5, bootstrap
Description: Clean wordpress theme with minimal bootstrap3 markup for fast development starting
Author: pervozdanniy
Author URI: http://dontforget.pro
*/


/***  global  ***/

@import url(http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic);

*{
    outline: none;
    text-decoration: none;
}

.btn{
	display: inline-block;
    border: 2px solid #D00000;
    border-radius: 3px;
    padding: 0 25px;
    cursor: pointer;
    color: #D00000;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    font-size: inherit;
    font-weight: bold;
    white-space: initial;
    max-width: 95%;
}
.btn:hover {
    color: #fff;
    background-color: #D00000;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.btn:focus, .btn:active, .btn:focus:active{
    outline: none;
    color: #D00000;
}
.btn:focus:hover,
.btn:active:hover{
    color: #fff;
}
body{
	font-size: 14px;
	font-family: 'Philosopher', sans-serif;
}
section{
    padding: 0 15px 56px;
}
.img{
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
}
.img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
}
.container{
    max-width: 970px;
}
.slider-arrows, .slider-arrows:focus{
    display: block;
    width: 70px;
    height: 80%;
    position: absolute;
    z-index: 7;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    top: 10%;
    text-decoration: none;    
    background-color: transparent;
    cursor: pointer;
}
.slider-arrows:hover{
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.disabled, .slick-disabled{
    opacity: 0;
    cursor: default;
}
.submit-button.disabled{
    opacity: .4;
}
.slider-arrows.next{
    right: -40px;
    background: url(images/bg/next.png) no-repeat center right;
    background-size: contain;
}
.slider-arrows.prev{
    left: -40px;
    background: url(images/bg/prev.png) no-repeat center left;
    background-size: contain;
}
h3{
    margin-top: 30px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    color: #000;
    padding-top: 0px;
    text-align: center;
}
h3 span{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 0.75;
    color: #9A9485;
    padding-top: 35px;
}
h3 span:after{
    margin-bottom: 19px;
    margin-top: 16px;
    content: '';
    height: 7px;
    width: 103px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #D00000;
}
.facades h3 span:after, .our h3 span:after, .callback h3 span:after{
    display: none;
}
@media(max-width: 1160px){
    .slider-arrows.prev{
        left: -20px;
    }
    .slider-arrows.next{
        right: -20px;
    }

}
@media(max-width: 991px){
    .text-center-sm{
        text-align: center;
    }
    .slider-arrows, .slider-arrows:focus{
        bottom: -7%;
        top: auto;
        width: 49%;
        height: 70px;
    }
    .slider-arrows.next{
        right: 0%;
        background-position: center;
    }
    .slider-arrows.prev{
        left: 0%;
        background-position: center;
    }
    .carousel{
        margin-bottom: 30px;
    }
    .our .item .block{
        margin: 10px auto;
    }
}
@media(max-width: 767px){
    h3 span{
        font-size: 40px;
    }
    h3{
        font-size: 28px;
    }
   
}
/***  end of global  ***/

/***  header  ***/

header{
    padding: 0;
    color: #9A9485;
    border-bottom: 2px solid #9A9485;
    line-height: 0.8;
}
header .left{
    padding: 30px 0 20px;
	font-size: 16px;
	text-transform: uppercase;	
    text-align: right;
}
header .logo{
    position: relative;
    display: block;
    height: 75px;

}
header .logo img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%); 
    height: 150px;
    width: auto;
    z-index: 1;
}

header .right{
    padding: 30px 0 20px;
    font-size: 18px;
}
header .right a{
    color: inherit;
    font-size: 28px;
    line-height: 1.1em;
}
header .right a:hover, header .right a:focus, header .right a:focus:active{
    text-decoration: none;
}
@media(max-width: 991px){

    header .left, header .right{
        padding: 20px 0 0;
        text-align: center; 
    }
    header .right{
        padding-bottom: 30px;
    }

}
@media(max-width: 767px){
    header{
        border-bottom: none;
    }
}
/***  end of header  ***/


/***  banner  ***/

.banner{
    background: url(images/bg/bg1.jpg) no-repeat center bottom transparent;
    background-size: cover;
    height: 600px;
    padding-bottom: 0;
}
.banner .main-header{
    height: 500px;
    max-width: 500px;
    width: 95%;
    margin: -50px auto 0;
    position: relative;
    text-align: center;
}
.banner .main-header .back{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: -webkit-radial-gradient(circle closest-side, rgba(0,0,0,.75) 0%, rgba(0,0,0,.65) 30%, rgba(0,0,0,.6) 48%, transparent);
    background: -o-radial-gradient(circle closest-side, rgba(0,0,0,.75) 0%, rgba(0,0,0,.65) 30%, rgba(0,0,0,.6) 48%, transparent); 
    background: -moz-radial-gradient(circle closest-side, rgba(0,0,0,.75) 0%, rgba(0,0,0,.65) 30%, rgba(0,0,0,.6) 48%, transparent);
    background: radial-gradient(circle closest-side, rgba(0,0,0,.75) 0%, rgba(0,0,0,.65) 30%, rgba(0,0,0,.6) 48%, transparent);    
}
.banner .main-header .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 100%;
    line-height: 1;
    text-transform: uppercase;
}
.banner .main-header .top{
    color: #fff;
    font-size: 55px;
}
.banner .main-header .top:after, .banner .main-header .bot:before{
    content: '';
    display: block;
    max-width: 300px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
}
.banner .main-header .discount{
    color: rgb(254,194,14);
    font-size: 125px;
    font-weight: 700;
}
.banner .main-header .bot{
    color: #fff;
    font-size: 50px;
}
.banner .container{
    height: 100%;
}
.banner .features{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
    padding-bottom: 30px;
    margin-top: -80px;
}
.banner .features .block{
    padding: 30px 0 0;
}
.banner .features .block .img{
    height: 50px;
    margin: 0 auto;
}
.banner .features .block .img img{
    height: 100%;
}
.banner .features .block p{
    margin-top: 21px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.banner .features .block p:before{
    content: '';
    display: block;
    margin: 0 auto;
    width: 103px;
    height: 7px;
    background-color: #D00000;
    margin-bottom: 14px;
}
.banner .features .block p span{
    font-size: 30px;
}
@media(max-width: 991px){
    .banner .main-header{
       
    }
    .banner .main-header .discount{
        font-size: 100px;
    }    
    .banner .main-header .top{
        font-size: 45px;
    }
    .banner .main-header .bot{
        font-size: 40px;
    }
    .banner .features .block p{
        font-size: 18px;
    }
    .banner .features .block p span{
        font-size: 22px;
    }
}
@media(max-width: 767px){
    .banner{
        height: 900px;
    }
    .banner .features{
        margin-top: -120px;
    }
    .banner .content{
        margin: 0;
    }
    .banner .features{
        background-color: rgba(0,0,0,.5);
    }
   
    .banner .main-header .discount{
        font-size: 80px;
    }    
    .banner .main-header .top{
        font-size: 35px;
    }
    .banner .main-header .bot{
        font-size: 30px;
    }
    .banner .features .block p{
        font-size: 16px;
    }
    .banner .features .block p span{
        font-size: 20px;
    }
}
/*** end of banner ***/

/*** menu  ***/

.menu{
    text-align: center;
    padding-top: 10px;    
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 2px solid #9A9485;
 
}
.menu.float{
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
}
.menu-container{
    display: inline-block; 
    float: left; 
    max-width: 820px;
}
.menu .max ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-between;
    padding: 0;
}
.menu .max ul > li{
    list-style: none;
    display: inline-block;
    padding: 0 20px 0 7px;
    position: relative;
}
.menu .max ul > li:nth-child(1){
    padding: 0 20px;
}
.menu .max ul > li:after{
    width: 4px;
    height: 4px;
    background-color: #D00000;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;    
}
.menu .max ul > li:nth-child(1):before{
    width: 4px;
    height: 4px;
    background-color: #D00000;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
}
.menu .max ul > li > a{
    font-size: 15px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: none;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.menu .max ul > li > a:hover, .menu ul > li > a.active{
    color: #D00000;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.menu .fa-bars{
    font-size: 25px;
    margin-top: -50px;
    cursor: pointer;
}
.menu .logo{
    display: inline-block;
    float: left;
    height: 45px;
}
.menu .logo img{
    height: 100%;
    width: auto;
}
.menu .phone{
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid #D00000;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: #D00000;
    border-radius: 50%;
    padding: 0;
}
.menu .phone i{
    line-height: 36px;
}
.menu-min{
    float: right;
    width: 100%;
}
.menu-min i{
    float: right;
    line-height: 50px;
}
.menu-min .dropdown-menu{
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.menu-min .dropdown-menu>li>a:hover, .menu-min .dropdown-menu>li>a.active{
    background-color: #fff;
    color: #D00000;
}
@media(max-width: 991px){
    .menu .phone{
        margin: 7px 0px 0 -65px;
    }
}
/***  end of menu  ***/


/***  steps  ***/
.our, .facades, .variants, .price{
    background: url(images/bg/wood1.jpg);
    position: relative;
    border-bottom: 2px solid #9A9485;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3)
}
.steps .center-block{
    width: 490px;
    height: 490px;
    background-image: url(images/bg/fugure.png);
    background-size: 100% 100%;
    position: absolute;
    top: 178px;
    left: calc(50% - 490px / 2);
    position: absolute;
    text-align: center;
}
.steps .center-block h3, .steps .min h3{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    padding-top: 130px;
}
.steps .center-block h3 span, .steps .min h3 span{
    color: #FF0000;
    font-size: inherit;
}
.steps .center-block h3 span:after, .steps .min h3 span:after{
    display: none;
    padding: 0;
}
.block1-inner {
    height: 873px;
    width: 100%;
    position: relative;
}

.block1-item {
    width: 240px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.block1-item img {
    margin-bottom: 5px;
}
.block1-item:nth-child(1) {
    top: 182px;
    left: 45px;
}
.block1-item:nth-child(2) {
    width: 424px;
    top: 44px;
    left: 268px;
}
.block1-item:nth-child(3) {
    top: 182px;
    right: 45px;
}
.block1-item:nth-child(4) {
    top: 352px;
    left: 0px;
}
.block1-item:nth-child(5) {
    top: 352px;
    right: -10px;
}
.block1-item:nth-child(6) {
    top: 590px;
    left: 45px;
}
.block1-item:nth-child(7) {
    width: 320px;
    top: 725px;
    left: 320px;
}
.block1-item:nth-child(8) {
    top: 590px;
    right: 45px;
}
.steps .min h3{
    font-size: 32px;
    padding: 0;
    text-align: center;
    margin: 30px 0;
}
.steps .min ul{
    font-size: 25px;
    padding-left: 60px;
}
.steps .min ul > li{
    display: block;
    list-style: none;
    margin-bottom: 30px;
}
.steps .min ul > li .num{
    margin-right: 25px;
    font-size: 32px;
    font-weight: 700;
}
.steps .min ul > li img{
    margin-right: 15px;
    margin-top: -10px;
}
@media(max-width: 767px){
    .steps .min ul{
        padding-left: 10px;
    }
}
/***  end of steps  ***/

/*** our  ***/

.our{

}

.catalog .nav-tabs{
    border-bottom: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: space-between;
    padding: 0;
    margin: 50px 0;
}
.catalog .nav-tabs.dropdown-menu{

}
.catalog .nav-tabs > li{
    min-width: 110px;
    display: inline-block; 
}

.catalog .nav-tabs > li > a{
    margin: 0 3px 20px;
    border: 2px solid #9A9485;
    color: #000;
    border-radius: 3px; 
    padding: 5px;   
    text-align: center;
    vertical-align: top;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    text-transform: uppercase;
    line-height: 1;
}
.catalog .nav-tabs > li > a:hover, .catalog .nav-tabs > li.active > a, .catalog .nav-tabs > li > a:focus{
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
}
.catalog .nav-tabs > li > a span{
    font-size: 16px;
    font-weight: 700;
}
.catalog .tab-content{
    margin-top: 10px;
}
.our .catalog .slider{

}
.our .catalog .item{
    margin: 0 auto;
    padding: 0 10px;
}
.our .item .block-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    height: 100%;
}
.our .item .block{
    height: 320px;
    width: 450px;
    background-color: #fff;
    border: 2px solid #fff;
    position: relative;
    margin: 10px;
}
.our .item .block .info{
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;    
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 2px solid #9A9485;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: url(../images/lu.cur),pointer;
    z-index: 1;
}
.our .item .block .info > *{
    opacity: 0;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}
.our .item .block:hover .info{
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    background-color: rgba(208,0,0,0.6);
}
.our .item .block:hover .info > *{
    opacity: 1;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}
.our .item .block .label{
    width: 160px;
    height: 58px;
    position: absolute;
    right: -1px;
    top: 28px;
    background-image: url(images/bg/clip/clip14.png);
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 2;
}
.our .item .block .old-price{
    color: #D10000;
    font-size: 18px;
    text-decoration: line-through;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
}
.our .item .block .new-price{
    color: #000000;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
}
.our .item .block .new-price:after{
    display: none;
}
.our .item .content{
    border: 2px solid #9A9485;
    height: 100%;
}
.our .item h3{
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #fff;
}
.our .item .old-price{
    color: #D10000;
    font-size: 18px;
    text-decoration: line-through;
    text-align: center;
    font-weight: 700;
    padding-top: 4px;
}
.our .item .old-price span{
    font-size: 12px;
}
.our .item .new-price{
    color: #000000;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
.our .item .new-price:after{
    width: 103px;
    height: 7px;
    background-color: #D00000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 23px;
    content: "";
    display: block;
}
.our .item .new-price span{
    font-size: 18px;
}
.our .item ul{
    padding: 0 0 0 20px;
}
.our .item ul > li{
    list-style: none;
    display: table-row;
    margin-bottom: 5px;
}
.our .item ul > li span{
    padding-right: 15px;
    font-size: 14px;
    vertical-align: top;
    padding-bottom: 5px;
    display: table-cell;
    max-width: 70%;
    color: #ddd;
    font-weight: 500;
}
.our .item ul > li .title{
    text-align: right;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    vertical-align: top;
}
.our .item .btn{
    width: 220px;
    min-height: 30px;
    font-style: italic;
    display: block;
    margin-top: 10px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 14px;
    //line-height: 30px;
}
.our .item .small-text {
    font-size: 14px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: #ddd;
}
.our .item .img{

}
.our .item .img img{
    height: 100%;
    min-width: 100%;
    width: auto;
}
@media(max-width: 991px){
    .our .catalog .item, .our .item .content {
        height: auto;
    }
    
    .catalog .nav-tabs > li{
        min-width: 162px;
        margin: 0 30px;
    }
    .our .item .block-container{
        justify-content: space-around;
        align-items: flex-start;
        align-content: space-between;

    }

}
@media(max-width: 767px){
    .catalog .nav-tabs > li > a{
        margin: 0 3px 10px;
        padding: 3px;
    }
    
    .catalog .tab-content{
        margin-top: 15px;
    }
    .our .item h3{
        margin-top: 10px;
    }
    .our .item ul > li .title{
        font-size: 11px;
    }
    .our .item ul > li span{
        padding-right: 0;
        font-size: 11px;
    }
    .our .item .btn{
        height: 20px;
        line-height: 18px;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .our .item .small-text{
        font-size: 11px;
    }
    .our .item .block .label{
        width: 80px;
        height: 33px;
        background-position: center left;
    }
    .our .item .block .old-price{
        font-size: 12px;
    }
    .our .item .block .old-price span{
        font-size: 11px;
    }
    .our .item .block .new-price{
        font-size: 14px;
    }
    .our .item .block .new-price span{
        font-size: 12px;
    }
    .our .item ul{
        padding: 0 0 0 7px;
    }
}
/*** end of our ***/


/***  clarify  ***/

.clarify{

}
.clarify h4{
    margin: 70px auto;
    font-size: 45px;
    text-align: center;
}
.clarify h4 small{
    display: block;
    font-size: 36px;
    margin-top: 50px;
    color: inherit;
}
.clarify h3 small{
    color: inherit;
}
h3 span:after{
    display: none;
}
.clarify .btn{

}

/***  end of clarify  ***/


/***  facades  ***/

.facades{

}
.facades .item{
    padding: 5px 13px;
    text-align: center;
    vertical-align: top;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    margin: 0;
    min-height: 313px;
    overflow: hidden;
}
.facades .tab-item:nth-child(2n+1) {
    margin-top: 0;
}
.facades .tab-item:nth-child(1) {
    margin-left: 0;
}
.facades .tab-item {
    margin-left: -65px;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    width: 166px;
    height: 240px;
}
.facades .tab-item img{
    width: 100%;
    height: 100%;
}

.facades .slider-arrows.next{
    right: 0%;
}
.facades .slider-arrows.prev{
    left: 0%;
}
.facades .tab-line {
    margin-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-between;
    width: 100%;
    padding-left: 30px;
}
.facades .tab-line-item {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin-bottom: 20px;
    height: 105px;
    width: 33.33%;
}
.facades .tab-line-item img {
    max-height: 100%;
    width: 33.33%;
    left: 0;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
}
.facades .tab-line-item p {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 1;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
}
@media(max-width: 991px){
    .facades .tab-item{
        margin: 5px;
    }
    .facades .tab-item:nth-child(2n+1){
        display: none;
    }
    .facades .tab-line{
        margin-top: 10px;
        
    }
    .facades .slider-arrows{
       
    }
    .facades .tab-line-item{
        width: 50%;
    }
}
@media(max-width: 767px){
    .facades .tab-line-item p{
        font-size: 18px;
        font-weight: 600;
        width: 100%;
    }
    
    .facades .carousel{
        margin-bottom: 50px;
    }
}
@media(max-width: 667px){
    
    .facades .tab-item:not(:nth-child(2)):not(:nth-child(4)){
        display: none;
    }
}
/***  end of facades  ***/

/*** way  ***/

.way{

}
.way .content{
    margin: 0 auto;
    max-width: 960px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-between;
}
.way .block{
    width: 320px;
    margin: 0 0 20px;
}
.way .img{
    height: 200px;
}
.way .img:after{
    width: 302px;
    height: 178px;
    border: 2px solid #9A9485;
    position: absolute;
    top: 9px;
    left: 9px;
    content: '';
    display: block;
}
.way .img img{
    width: 100%;
    min-height: 100%;
}
.way h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 17px;
}
.way p{
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.way p:before{
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: #D00000;
}

/*** end of way  ***/

/***  variants  ***/

.variants .content{
    margin: 0 auto 30px;
    max-width: 960px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
}
.variants .block{
    width: 320px;
    margin: 0 0 20px;
}
.variants .img{
    height: 200px;
    width: 240px;
    margin: 0 auto;
}
.variants h4{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
.variants h3, .find h3, .clarify h3{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 0.75;
    color: #9A9485;
    padding-top: 35px;
}
.variants h3 span, .find h3 span{
    margin-top: 40px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    color: #000;
    padding-top: 0px;
    text-align: center;
}
.variants h5{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.variants .btn,
.clarify .btn{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 28px auto 0;
    font-size: 24px;
}
@media(max-width: 767px){
    .variants .btn{
        font-size: 20px;
    }
    .variants h3 span{
        font-size: 28px;
    }
    .variants h3{
        font-size: 40px;
    }
    .find{
        height: 500px;
    }
}
/***  end of variants  ***/

/***  inside  ***/

.inside{

}
.inside .content{
    margin: 0 auto 30px;
    max-width: 960px;
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 0;
    -webkit-column-gap: 0;
}
.inside .block{
    break-inside: avoid;
-webkit-column-break-inside: avoid;
    border: 3px solid transparent;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.inside .block img{
    width: 100%;
}
.inside .block .desc {
    position: absolute;
    width: 100%;
    bottom: 28%;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.4em 0em;
    line-height: 1em;
    text-align: center;
    font-size: 26px;
    z-index: 3;
}
.inside .block:hover .desc {
    background: rgba( 0, 0, 0, .4 );
    bottom: 0%;
    font-size: 20px;
}
.inside .block .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}
.inside .content .block:hover .background{
    background: rgba( 0, 0, 0, .3 );
    filter: alpha(opacity=1);
    opacity: 1;
}
.inside .labels{
    margin-top: 55px;
}
.inside .labels .block{
    height: 74px;
    width: auto;
    margin: 0 10px;
}
.inside .labels .block img{
    height: 100%;
    width: auto;
}


@media(max-width: 767px){
    .inside .content{
        column-count: 2;
    -webkit-column-count: 2;
    }
    
}
/***  end of inside  ***/

/***  service  ***/

.service{
    text-align: center;
    background-image: url(images/bg/bg4.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    box-shadow: inset 0 3px 3px rgba(0,0,0,0.3);
    background-size: cover;
}
.service h3 small{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: inherit;
    text-transform: lowercase;
}
.service .content{
    background-image: url(images/bg/bg3.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 47px;
    width: 100%;
}
.service .content ul{
    padding: 0;
    max-width: 302px;
}
.service .content ul:nth-child(1) {
    padding-right: 10px;    
    text-align: right;
}
.service .content ul:nth-child(2) {
    padding-left: 50px;
    text-align: left;
}
.service .content ul li {
    padding-top: 5px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    background-repeat: no-repeat;
    list-style: none;
}
.service .content ul:nth-child(1) li {
    padding-right: 35px;
    background-image: url(images/bg/clip/clip18.png);
    background-position: center right;
}
.service .content ul:nth-child(2) li {
    padding-left: 35px;
    background-image: url(images/bg/clip/clip18.png);
    background-position: center left;
}
.service .block-center {
    padding: 0 15px;
    margin: 0 auto;
    border: 2px solid #9A9485;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.9), 0 10px 3px rgba(0, 0, 0, 0.32);
    margin-top: 10px;
    background-color: rgba(255,255,255,0.9);
}
.service .block-center .content{
    background: none;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}
.service .block-center .block{
    width: 280px;
    margin-top: 36px;
}
.service .block-center .block .img{
    height: 55px;
}
.service .block-center .block .img img{
    height: 100%;
}
.service .block-center .block h5{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    height: 65px;
    display: table-cell;
    vertical-align: middle;
    width: 280px;
}
.service .block-center .block p {
    font-size: 20px;
}
.service .btn{
    display: block;
    padding: 10px 35px;
    margin: 19px auto;
    font-size: 29px;
}
.service .btn:hover{
    color: #fff;
}
.service .subtext{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 700;
}
@media(max-width: 991px){
    .service .content{
        background-position: top center;
        padding-top: 350px;
    }
    .service .content ul{
        max-width: none;
    }
    .service .content ul:nth-child(1){
        padding-right: 15px;
    }
    .service .content ul:nth-child(2) {
        padding-left: 15px;
    }
    .service .btn{
        padding: 10px 25px;
        font-size: 25px
    }
}
@media(max-width: 767px){
    .service .content ul:nth-child(1){
        text-align: left;
        padding-left: 15px;
    }
    .service .content ul:nth-child(1) li{
        background-position: center left;
        padding-right: 0;
        padding-left: 35px;
    }
    .service .btn{
        font-size: 20px
    }
}
/***  end of service  ***/

/***  time  ***/

.time{
    background-image: url(images/bg/bg5.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.time .header-center-block {      
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
    padding-top: 67px;
}
.time .header-center-block h3{
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 700;
    margin-top: 29px;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.2;
}
.time .header-center-block h3 small{
    font-size: 46px;
    color: #fff;
}
.time .btn{
    color: #FFB500;
    border: 2px solid #FFB500;
    margin-bottom: 23px;
    line-height: 44px;
    font-size: 25px;
    font-weight: 700;
    background-color: transparent;
}
.time .btn:hover{
    background-color: #FFB500;
    color: #fff;
}
.time .header-center-block h4 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 4px;
    line-height: 1.8;
    text-transform: uppercase;
    color: #fff;
}
.time .header-center-block ul{
    padding: 0;
    margin-top: 20px;
}
.time .header-center-block ul li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 29px;
    color: #FFB500;
    position: relative;
    vertical-align: middle;
    margin-right: 34px;
    font-weight: 700;
}
.time .header-center-block ul li:last-child {
    margin-right: 0;
}
.time .header-center-block ul li:not(:last-child):after {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FFB500;
    position: absolute;
    right: -18px;
    top: 50%;
    margin-top: -2px;
    content: '';
    display: block;
}
.time .minprice{
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 36px;
    color: #fff;
} 
@media(max-width: 991px){
    .time .header-center-block h3{
        font-size: 45px;
    }
}
@media(max-width: 767px){
    .time .header-center-block h3{
        font-size: 30px;
    }
    .time .btn{
        font-size: 20px;
    }
    .time .header-center-block ul li{
        font-size: 25px;
    }
}
/***  end of time  ***/

/***  price  ***/

.price{

}
.price .content.max{
    position: relative;
    text-align: center;
    height: 722px;
}
.price .content.min{
    text-align: center;
    padding: 30px 0 0;
}
.price .content.min .block{
    margin-top: 20px;
}
.price .content.max .block{
    position: absolute;
}
.price .content.max .block:nth-child(1) {
    left: -15px;
    top: 270px;
}
.price .content.max .block:nth-child(2) {
    left: 287px;
    top: 50px;
}
.price .content.max .block:nth-child(3) {
    left: 279px;
    top: 513px;
}
.price .content.max .block:nth-child(4) {
    right: 0px;
    top: 270px;
}
.price .content.max .center-block {
    position: absolute;
    left: 294px;
    top: 256px;
    border: 2px solid #9A9485;
    width: 363px;
    height: 228px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 1), 0 5px 3px rgba(0, 0, 0, 0.32);
    background-color: #fff;
}
.price .content .center-block h2 {
    font-size: 48px;
    line-height: 1.2;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    display: table-cell;
    width: inherit;
    height: inherit;
    vertical-align: middle;
}
.price .content.min .center-block{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 1), 0 5px 3px rgba(0, 0, 0, 0.32);
    background-color: #fff;
    border: 2px solid #9A9485;
}
.price .content.min .center-block h2{
    display: block;
    font-size: 36px;
    font-weight: 600;
    width: 100%;
}
.price .content .center-block h2 span {
    color: #D91414;
}
.price .content.max .block h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}

/***  end of price  ***/

/*** producers  ***/

.producers{
    background-image: url(images/bg/bg6.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    background-size: cover;
}
.producers h3{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 10px;
    padding-top: 88px;
    line-height: 1.3;
}
.producers h3 span{
    color: inherit;
    font-size: 60px;
    
}
.producers h3 small{
    color: inherit;
    font-size: 36px;
}
.producers .content{
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.9), 0 10px 3px rgba(0, 0, 0, 0.32);
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #9A9485;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 10px;   
}
.producers .content .labels{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
}
.producers .content .block{
    padding: 30px 25px;
}
.producers .btn{
    font-size: 24px;
    padding: 10px;
}
.producers .subtext {
    margin-top: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}
@media(max-width: 991px){
    .producers .content{
        max-width: 95%;
    }
}
@media(max-width: 767px){
    .producers h3 small{
        font-size: 28px;
    }
    .producers h3 span{
        font-size: 48px;
    }
    .producers h3{
        font-size: 35px;
    }
}
/***  end of producers  ***/

/***  callback  ***/

.callback{
    padding-bottom: 0;
}
.callback .item{
    text-align: center;
}
.callback .item .review-img {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: space-between;

}
.callback .item .review-img .block {
    border: 3px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 8px;
    box-shadow: 0 0 0 1px #9A9485;
    position: relative;
    cursor: url(images/lu.cur),pointer;
    padding: 5px;
    margin-bottom: 15px;
}
.callback .item .review-img .block:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    background-color: #FFB500;
    display: block;
    content: '';
}
.callback .item .review-img .block:hover:after {
    opacity: 0.8;
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
}
.callback .item .review-img .block img {
    width: 193px;
    height: 124px;
}
.callback .item .rating {
    margin-bottom: 66px;
}
.callback .item .rating img{
    margin: 0 auto;
}
.callback .item .review-content {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    position: relative;
    margin-bottom: 30px;
    max-width: 750px;
}
.callback .item .review-content:before {
    position: absolute;
    top: 25%;
    margin-top: -12px;
    background-image: url(images/bg/clip/clip29.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 31px;
    height: 24px;
    left: -66px;
    display: block;
    content: "";
}
.callback .item .review-content:after {
    position: absolute;
    top: 25%;
    margin-top: -12px;
    background-image: url(images/bg/clip/clip30.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 31px;
    height: 24px;
    right: -66px;
    display: block;
    content: "";
}

.callback .item .subscribe p:nth-child(1) {
    text-transform: uppercase;
    font-size: 24px;
    color: #9A9485;
    font-weight: 700;
}
.callback .item .subscribe p:nth-child(2) {
    text-transform: lowercase;
    font-size: 24px;
    color: #9A9485;
}

@media(max-width: 991px){
    .callback .item .review-content:after, .callback .item .review-content:before{
        display: none;
    }
    .callback .slider-arrows{
        bottom: 0;
    }
}
@media(max-width: 767px){
    .callback .slider-arrows{
        top: 100%;
    }
    .callback{
        padding-bottom: 80px;
    }
}
/***  end of callback  ***/

/***  find  ***/

.find{
    height: 773px;
    text-align: center;
    position: relative;
    padding: 0;
}
.find h3{
    padding-top: 0;
    margin-top: 0;
}
.find .content {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.9), 0 10px 3px rgba(0, 0, 0, 0.32);
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #9A9485;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 95%;
    max-width: 693px;
}
.find .content ul {
    margin: 20px auto;
}
.find .content ul > li {
    padding-left: 37px;
    margin-right: 40px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 18px;
}
.find .content ul > li:nth-child(1) {
    background-image: url(images/bg/clip/clip32.png);
}
.find .content ul > li:nth-child(2) {
    background-image: url(images/bg/clip/clip33.png);
}
.find .content ul > li:nth-child(2) a{
    text-decoration: none;
    color: inherit;
}
.find .content ul > li:nth-child(2) a:hover, .find .content ul > li:nth-child(2) a:focus{
    color: inherit;
    text-decoration: none;
}
.find .content h5 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

/***  end of find  ***/


/***  footer  ***/

footer {
    text-align: center;
    padding: 35px 0;
    background-color: #252523;
}
footer h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 1.4;
}
footer .copyright {
    margin-top: 35px;
    text-align: left;
}
footer .copyright p{
    font-size: 14px;
    color: #9A9485;
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    line-height: 1;
}
footer .copyright p span {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    font-size: 36px;
    color: #9A9485;
    font-weight: 300;
}
footer .footer-phone {
    margin-top: 35px;
    text-align: right;
}
footer .footer-phone p {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

footer .btn{
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    background-color: transparent;
}
@media(max-width: 991px){
    footer .btn{
        font-size: 20px;
    }
    
}
@media(max-width: 767px){
    footer .footer-phone, footer .copyright{
        text-align: center;
    }
}
/***  end of footer  ***/

/***  modals  ***/
#kitchen .modal-dialog{
    width: 100%;
    margin: 20px 0;
}
.modal.in .modal-dialog.old{
    width: 430px;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,15%);
    -ms-transform: translate(0,15%);
    -o-transform: translate(0,15%);
    transform: translate(0,15%);
}
.modal-content {
    background-color: #fff;
    max-width: 514px;
    width: 96%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 110;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 1), 0 10px 3px rgba(0, 0, 0, 0.32);
    border: 2px solid #9A9485;
    padding-bottom: 20px;
    border-radius: 0;
}

#kitchen .modal-content{
    max-width: 1200px;
    padding-bottom: 0;
}
#success .modal-content{
    max-width: 330px;
    width: 96%;    
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    box-shadow: none;
    z-index: 150;
    border: 1px solid #fff;
    padding-left: 20px;
    padding-right: 20px;
}
#success .modal-content p{
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 3px 2px #000;
    line-height: 43px;
}
#success .modal-content .button{
    width: 100px;
    height: 44px;
    background: -moz-linear-gradient(top,#FF9893,#FF0000);
    background: -webkit-linear-gradient(top,#FF9893,#FF0000);
    background: -ms-linear-gradient(top,#FF9893,#FF0000);
    background: -o-linear-gradient(top,#FF9893,#FF0000);
    background: linear-gradient(top,#FF9893,#FF0000);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 20px;
}
.modal-content.img{
    height: 600px;
}
.modal-content.img img{
    height: 100%;
    min-width: 100%;
}
.modal-content h4{
    font-size: 18px;
    color: #000;
    line-height: 1.4;
     margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-top: 28px;
}
.modal-content h4 span{
    font-size: 24px;
    color: #000;   
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    
}
.modal-content h4:after{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 103px;
    height: 7px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D00000;
    content: "";
    display: block;
}
.modal-content h5 {
    margin: 20px 0;
    color: #D00000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.modal-content h5 span{
    text-transform: uppercase;
}
.modal-content input[type="text"] {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.modal-content input[type="text"],
.modal-content .file-upload {
    margin: 0 auto;
    width: 251px;
    height: 36px;
    border: 2px solid #9A9485;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    color: #9A9485;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.modal-content .file-upload {
    cursor: pointer;
}
.modal-content input[type="text"]:focus, 
.modal-content textarea:focus,
.modal-content .file-upload:focus {
    background-color: #EAE7DE;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
}
.modal-content textarea {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}
.modal-content textarea {
    width: 251px;
    height: 66px;
    padding-top: 10px;
    border: 2px solid #9A9485;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    color: #9A9485;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    resize: none;
}
.submit-button {
    width: 251px;
    height: 42px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    border: 2px solid #D00000;
    color: #D00000;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    font-weight: 700;
}
.submit-button:hover {
    background-color: #D00000;
    color: #fff;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
}

.modal-content.old{
    background: #fff;
    background: url(images/modals.png) no-repeat;
    background-size: 100% 100%;
    max-width: 413px;
    min-height: 580px;
    padding-top: 45px;
    border: none;
    box-shadow: none;
    padding-bottom: 0px;
}
.modal-content.old .pop-up-form{
    position: relative;
    top: 5px;
}
.modal-content.old h4{
    width: 80%;
    font-size: 19px;
    text-align: center;
    color: #e04836;
    font-weight: bold;
    margin: 10px auto 15px;
    line-height: 30px;
}
.modal-content.old h4:after{
    display: none;
}
.modal-content.old input[type="text"]{
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    background-color: #f3f3f3!important;
    color: #000;
    max-width: 285px;
    width: 80%;
    font-size: 14px;
    margin-bottom: 10px;
    height: 38px;
    padding-left: 35px;
    padding-right: 10px;
    text-align: left;
}
.modal-content.old input[type="text"].name{
    background: url(images/modal-name.png) 10px center no-repeat;
}
.modal-content.old input[type="text"].phone{
    background: url(images/modal-phone.png) 10px center no-repeat;
}

.modal-content.old textarea{
    text-align: left;
    max-width: 285px;
    width: 80%; 
    height: 50px;
    display: block;
    margin: 6px auto;
    border: 1px solid #a9a9a9;
    color: #000;
    padding: 10px;
    background-color: #f3f3f3;
    font-size: 14px;
    resize: vertical;
}
.modal-content.old input[type="text"]:focus,
.modal-content.old textarea:focus{
    outline: 2px;
}
.modal-content.old p{
    color: #666;
    text-align: center;
}
.modal-content.old .submit-button{
    -moz-border-radius: 3px / 3px 3px 3px 3px;
    -webkit-border-radius: 3px / 3px 3px 3px 3px;
    border-radius: 3px / 3px 3px 3px 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #e04836;
    border: none;
    max-width: 284px;
    width: 80%;
    height: 70px;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    transition: .5s;
    line-height: 18px;
    cursor: pointer;
}
.modal-content.old  input[type="file"]{
    position: unset;
    visibility: visible;
    margin: 3px auto;
    max-width: 285px;
    width: 80%;
}
.modal-content.old h5{
    margin-top: 17px;
    color: #a83528;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.button-group{
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 20;
}
.button-group button {
    display: block;
    width: 158px;
    height: 49px;
    background-color: #fff;
    border: 2px solid #D00000;
    border-right: none;
    border-radius: 4px 0 0 4px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    font-size: 18px;
    line-height: .9;
    padding: 0;
    max-width: 100%;
}
button.close{
    width: 30px;
}
.close {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    z-index: 5;
    position: absolute;
    right: 0;
}
.popup-img{
    min-width: 100%;
    min-height: 100%;
}
.modal input[type="file"]{
    position: absolute;
    top: 0;
    visibility: hidden;
}

.modal-content .item{
    height: 700px;
}
.modal-content .item .left {
    width: 25%;
    float: left;
}
.modal-content .item .img {
    width: 75%;
    float: left;
}
.modal-content .item .content{
    border: 2px solid #9A9485;
    height: 100%;
}
.modal-content .item h3{
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #000
}
.modal-content .item .old-price{
    color: #D10000;
    font-size: 24px;
    text-decoration: line-through;
    text-align: center;
    font-weight: 700;
    padding-top: 4px;
}
.modal-content .item .old-price span{
    font-size: 20px;
}
.modal-content .item .new-price{
    color: #000000;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}
.modal-content .item .new-price:after{
    width: 103px;
    height: 7px;
    background-color: #D00000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 18px;
    content: "";
    display: block;
}
.modal-content .item .new-price span{
    font-size: 30px;
}
.modal-content .item ul{
    padding: 0 0 30px 20px;
}
.modal-content .item ul > li{
    list-style: none;
    display: table-row;
    margin-bottom: 10px;
}
.modal-content .item ul > li span{
    padding-right: 15px;
    font-size: 15px;
    vertical-align: top;
    padding-bottom: 5px;
    display: table-cell;
    max-width: 70%;
    color: #333;
    font-weight: 500;
}
.modal-content .item ul > li .title{
    text-align: right;
    padding-right: 25px;
    font-weight: 700;
    color: #000;
    vertical-align: top;
}
.modal-content .item .btn{
    width: 240px;
    min-height: 36px;
    font-style: italic;
    display: block;
    margin-top: 10px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
}
.modal-content .item .small-text {
    font-size: 14px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: #333;
}
.modal-content .item .img{

}
.modal-content .item .img img{
    height: 100%;
    min-width: 100%;
    width: auto;
}
.modal .slider-arrows, .modal .slider-arrows:focus{
    z-index: 15;
}

@media(max-width: 991px){
    .button-group button{
        font-size: 16px;
        width: 120px;
        height: 40px;
    }
    .modal-content .item .left {
        width: 35%;
        float: left;
    }
    .modal-content .item .img {
        width: 65%;
        float: left;
    }
    .modal .carousel{
        margin-bottom: 0;
    }
    .modal .slider-arrows, .modal .slider-arrows:focus{
        bottom: 0;
    }
    .modal .slider-arrows.next{
        background: rgba(0,0,0,.3) url(images/bg/next.png) no-repeat center;
        background-size: contain;
    }
    .modal .slider-arrows.prev{
        background: rgba(0,0,0,.3) url(images/bg/prev.png) no-repeat center;
        background-size: contain;
    }
    .modal-content .item ul > li span{
        font-size: 14px;
    }

}
@media(max-width: 767px){
    .button-group{
        display: none;
    }
    .modal-content.img{
        height: 400px;
    }
    .modal-content .item .left {
        width: 100%;
        float: left;
    }
    .modal-content .item .img {
        width: 100%;
        float: left;
    }
    .modal-content.old h4{
        width: 80%;
    }
}

/***  end of modals  ***/